body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align:center;
    color:#272727;
    margin: 10px;
}
a {
    color: #04395E;
}
a:hover {
    color: #505A5B;
}
p{
    display:block;
}
#main {

    padding-bottom: 20px;
}

#title {

    text-align: center;
    padding-top: 30px;
    font-size: 60px;
    font-family: 'Syncopate', sans-serif;
}
.subtitle {
  color: #1E3231;
  margin-top: -40px;
  font-weight: bold;
}


img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
#img-div {
    padding: 10px;
    margin: 50px 50px -25px;
  }
#img-caption {
    font-size: 18px;
    text-align: right;
    font-weight: 400;
}

section {
    display: block;
}

#tribute-top{
    padding: 15px 30px;
}
#tribute-info-headline {
    margin-top: 20px;
    margin-bottom: -3px;
    text-align: center;
    font-size: 35px;
}
.bio {
    display: flex;
    justify-content: center;
    line-height: 1.4;
}
.bio p {
    text-align: justify;
    background-color: #a8315f;
    color: white;
    margin: 20px;
    font-weight: 300;
    padding: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

blockquote {
    font-style: italic;
    max-width: 600px;
    margin: 50px auto 50px auto;
    text-align: justify;
}
.social-icons a {
    color: #272727;
    font-size: 30px;
    padding: 10px;
}
.social-icons a:hover {
    color: #a8315f;
}
@media screen and (max-width: 1024px) { 

    #img-div{
        margin:0;
        padding:10px;
        } 
    #img-caption {
        padding: 10px;
    }
    section {
        margin: 25px;
    }
 }

 @media (max-width: 483px){
     #title {
        font-size: 50px;
        margin-bottom: 40px;
     }
     #img-caption {
        font-size: 95%;
    }
    #tribute-info-headline {
        margin-top: -20px;
    }
    .bio {
        display: flex;
        flex-direction: column;
    }
 }
 @media (max-width: 850px){
    .bio {
        display: flex;
        flex-direction: column;

    }
 }